
option_settings:
  aws:elasticbeanstalk:application:environment:
    ENV: production
    AWS_REGION: us-east-1
    AWS_STORAGE_BUCKET_NAME: diabetes-models
    SECRET_KEY: evjBAxtU0u2wza7lGlnElHn3kgpDnmHZTwdOpoeRcVVB8lOAjn9KQiRkoJFI9jvDDNM
    DEBUG: False
    ALLOWED_HOSTS: .elasticbeanstalk.com
    CORS_ALLOWED_ORIGINS: https://amplify.aws.com

container_commands:
  01_collectstatic:
    command: "python manage.py collectstatic --noinput"
  02_migrate:
    command: "python manage.py migrate --noinput"
  03_download_models:
    command: "python manage.py download_models"
