
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SECRET_KEY: "evjBAxtU0u2wza7lGlnElHn3kgpDnmHZTwdOpoeRcVVB8lOAjn9KQiRkoJFI9jvDDNM"
    DJANGO_DEBUG: "False"
    S3_BUCKET_NAME: "diabetes-models"
  aws:elasticbeanstalk:environment:process:default:
    Port: 8000
    Protocol: HTTP
  aws:elasticbeanstalk:container:python:
    WSGIPath: core.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: /staticfiles
commands:
  01_collectstatic:
    command: "source /var/app/venv/*/bin/activate && python manage.py collectstatic --noinput"