@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


.app-header {


    background: #2a294a;
    /* background: radial-gradient(circle, rgba(75,81,116,0.4) 29%, rgba(9,86,121,0.2) 80%); */
    
    padding: 3px;
    position: relative;
    border-bottom: 1px solid rgba(37, 36, 97, 0.281);
  }
  
  .header-content {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    font-family: 'Roboto Condensed', sans-serif !important;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ecf0f1;
    text-decoration: none;
  }
  
  
  .main-nav {
    display: flex;
    gap: 1.5rem;
  }
  
  .main-nav a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
  }
  
  .main-nav a:hover {
    color: #daadff;
  }
  
  .search-bar {
    display: flex;
    gap: 0.7rem;
  }
  
  .search-bar input {
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
  }
  

  .search-button:hover {
    background-color: #2980b9;
  }
  
  .user-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .user-greeting {
    font-weight: 500;
  }
  
  .nav,.headerbtn  { 
    
    padding: 10px !important;
    font-size: 16px !important;
    /* background-color: #1657bf; */
    color: #3473da;
  
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease !important;
  }
  
  .nav,.headerbtn:hover {
 
 
    color: #73a5f0;
 

  }
  

  

  
  @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
      gap: 1rem;
    }
  
    .main-nav, .search-bar, .user-actions {
      width: 100%;
      justify-content: center;
    }
  }


  /* Estilos para el dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 14px;
  font-size: 16px;

  color: rgb(17, 160, 204);
  border: none;
  cursor: pointer;

  transition: all 0.3s ease !important;
}

.dropdown-button:hover {
  background-color: rgb(76, 82, 134);
  
  border: none;
  cursor: pointer;
  
}

/* Menú desplegable */
.dropdown-menu {
  position: absolute;
  top: 100%;           /* Coloca el menú justo debajo del botón */
  left: 0;             /* Alinea el menú con el botón */
  background-color: rgba(30, 60, 96, 0.9);
  border: 1px solid #2ba353;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 150px;    /* Asegura un ancho mínimo */
  z-index: 1000;       /* Asegura que se muestre por encima de otros elementos */
}

/* Estilos para los elementos del menú */
.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 100%;
  padding-left: 2px;
  
}

.dropdown-menu li a:hover {
  background-color: #252b81;
  border-radius: 5px;
}